MMatgo/Library/
pluginjava4NM4/.metadata/
pluginjava4NM4/.recommenders/
*.sln
MMatgo/Temp/
*.csproj
MMatgo/MMatgo.userprefs
MMatgo/obj/
*.htm
*.suo
MMatgo/Assets/UnityVS/Editor.meta
MMatgo/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
MMatgo/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
MMatgo/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
MMatgo/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
MMatgo/Assets/UnityVS.meta
MMatgo/Assets/UnityVS/
MMatgo/Assets/StreamingAssets/build_info.txt
*.apk
MMatgo/Assets/Unity-Logs-Viewer/
MMatgo/Assets/StreamingAssets/build_info.txt.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/drawable-hdpi.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/drawable-ldpi.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/drawable-mdpi.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/drawable-xxhdpi.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/drawable.meta
MMatgo/Assets/Plugins/Android/MobilePlatform.SDK/res/xml.meta
plugin_Java/.metadata/
MMatgo/Assembly-UnityScript.unityproj
